.button-right {
  padding: 10px;
  margin-top: 15px;
  border-top-right-radius: 50px 20px;
  position: relative;
  float: right;
  margin-bottom: 10px;
}

.button-left {
  padding: 10px;
  margin-top: 15px;
  border-top-left-radius: 50px 20px;
  position: relative;
  float: left;
  margin-bottom: 10px;
}

table {
  width: 100%;
  margin-top: 70px;
}

.mat-column-select {
  overflow: initial;
}

.mat-row.hovered {
  background: grey;
}

.mat-row.highlighted {
  background: #999;
}
