<div class="container">
  <div class="col-xs-12 col-md-6 col-offset-3">
    <div class="alert alert-danger" *ngIf="displayError">
      <p>{{ displayError }}</p>
    </div>
    <div *ngIf="formLoading" style="text-align: center;">
      <app-authloadingspinners></app-authloadingspinners>
    </div>
    <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()" *ngIf="!formLoading">
      <div class="form-group">
        <input  type="text"
                id="userId"
                class="form-control"
                [ngClass]="{'is-invalid': userId.errors && userId.touched}"
                placeholder="User Name/Id"
                formControlName="userId" />
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback" >
          <div *ngIf="userId.hasError('required')">User Name/Id is required</div>
          <div *ngIf="userId.hasError('minlength')">User Name/Id must be at least 5 characters long</div>
          <div *ngIf="userId.hasError('maxlength')">User Name/Id cannot be longer than 50 characters</div>
          <div *ngIf="userId.hasError('notUnique')">User Name/Id already taken.</div>
        </div>
      </div>
      <div class="form-group">
        <input  type="text"
                id="firstName"
                class="form-control"
                [ngClass]="{'is-invalid': firstName.errors && firstName.touched}"
                placeholder="First Name"
                formControlName="firstName" />
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback" >
          <div *ngIf="firstName.hasError('required')">First Name is required</div>
          <div *ngIf="firstName.hasError('minlength')">First Name must be at least 2 characters long</div>
          <div *ngIf="firstName.hasError('maxlength')">First Name cannot be longer than 50 characters</div>
        </div>
      </div>
      <div class="form-group">
        <input  type="text"
                id="lastName"
                class="form-control"
                [ngClass]="{'is-invalid': lastName.errors && lastName.touched}"
                placeholder="Last Name"
                formControlName="lastName" />
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback" >
          <div *ngIf="lastName.hasError('required')">Last Name is required</div>
          <div *ngIf="lastName.hasError('minlength')">Last Name must be at least 2 characters long</div>
          <div *ngIf="lastName.hasError('maxlength')">Last Name cannot be longer than 50 characters</div>
        </div>
      </div>
      <div class="form-group">
        <input  type="email"
                id="emailAddress"
                class="form-control"
                [ngClass]="{'is-invalid': emailAddress.errors && emailAddress.touched}"
                placeholder="Email Address"
                formControlName="emailAddress" />
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback" >
          <div *ngIf="emailAddress.hasError('required')">Email Address is required</div>
          <div *ngIf="emailAddress.hasError('email')">Email Address must contain a valid email-address</div>
          <div *ngIf="emailAddress.hasError('notUnique')">Email Address must be unique</div>
        </div>
      </div>
      <div class="form-group">
        <input  type="password"
                id="password"
                class="form-control"
                [ngClass]="{'is-invalid': password.errors && password.touched}"
                placeholder="Password"
                formControlName="password" />
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback" >
          <div *ngIf="password.hasError('required')">Password is required</div>
          <div *ngIf="password.hasError('minlength')">Password must be at least 7 characters long</div>
          <div *ngIf="password.hasError('maxlength')">Password cannot be longer than 50 characters</div>
          <div *ngIf="password.hasError('pattern')">Supported special characters include: "@,_,-,*,&,$,%,^,+,=,(,),#,!" </div>
        </div>
      </div>
      <div class="form-group">
        <input  type="password"
                id="confirmPassword"
                class="form-control"
                [ngClass]="{'is-invalid': confirmPassword.errors && confirmPassword.touched}"
                placeholder="Retype Password"
                formControlName="confirmPassword" />
        <div class="valid-feedback">
          Looks good!
        </div>
        <div class="invalid-feedback">
          <div *ngIf="confirmPassword.hasError('required')">Retype Password is required</div>
          <div *ngIf="confirmPassword.hasError('passwordMismatch')">Retype Password and Password entries must match</div>
        </div>
      </div>
      <div>
        <button class="btn btn-success" type="submit" [disabled]="registrationForm.invalid">Sign Up</button>
      </div>
    </form>
  </div>
</div>
