<div>
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a style="cursor: pointer;" class="navbar-brand" routerLink="home">Derin Playground</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
      </button>
      <!-- <div class="collapse navbar-collapse" id="navbarSupportedContent"> -->
      <div class="navbar-default" id="navbarSupportedContent">
        <ul class="nav navbar-nav ml-auto">
          <li class="nav-item" routerLinkActive="active">
            <a style="cursor: pointer;" class="nav-link" [routerLink]="['auth/login']" *ngIf="!isAuthenticated">Login</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a style="cursor: pointer;" class="nav-link" [routerLink]="['auth/registerUser']" *ngIf="!isAuthenticated">Register</a>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a style="cursor: pointer;" class="nav-link" [routerLink]="['appsPage']" *ngIf="isEmailValidated">Apps</a>
          </li>
          <li ngbDropdown class="nav-item dropdown" href="#" routerLinkActive="active" *ngIf="isAuthenticated">
            <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="navbarDropdown"
                role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ authUserFromSetter.firstName }}
            </a>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
              <!-- <a style="cursor: pointer;" ngbDropdownItem class="dropdown-item" [routerLink]="['event/listEvents']">View Profile</a> -->
              <a style="cursor: pointer;" ngbDropdownItem class="dropdown-item" (click)="sayGoodByeForNow()" >Logout</a>
            </div>
          </li>
          <li class="nav-item" routerLinkActive="active">
            <a style="cursor: pointer; position: left;" class="nav-link" [routerLink]="['about']" >About</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">Collapsed content</h5>
      <span class="text-muted">Toggleable via the navbar brand.</span>
    </div>
  </div> -->
  <!-- <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </nav> -->
</div>
<footer class="footer">
  <div class="row d-flex justify-content-left">
    <p class="text-small c-black-700 margin-none d-inline">© 2021</p>
      <div class="row mb-4">
        <div class="col-12">
          <h4>Brand Icons</h4>
          <fa-icon [icon]="faTwitter" href="https://twitter.com/Derinsola_" class="me-2 text-primary" size="2x"></fa-icon>
          <fa-icon [icon]="faLinkedin" href="https://www.linkedin.com/in/derinsola/" class="me-2 text-info" size="2x"></fa-icon>
          <fa-icon [icon]="faGithub" href="https://github.com/derinsola01/"class="me-2 text-dark" size="2x"></fa-icon>
        </div>
      </div>
    <!-- <div class="push-right">
      <ul class="no-bullets d-flex flex-vertical-center padding-none">
        <li class="padding-right-20px">
          <a href="https://twitter.com/Derinsola_" style="margin-right: 25px;" class="icons-sm tw-ic">
            <mdb-icon fab icon="twitter"></mdb-icon>
          </a>
        </li>
        <li class="padding-right-20px">
          <a href="https://www.linkedin.com/in/derinsola/" style="margin-right: 25px;" class="icons-sm li-ic">
            <mdb-icon fab icon="linkedin-in"></mdb-icon>
          </a>
        </li>
        <li class="padding-right-20px">
          <a href="https://github.com/derinsola01/" style="margin-right: 25px;" class="icons-sm git-ic">
            <mdb-icon fab icon="github"></mdb-icon>
          </a>
        </li>
      </ul>
    </div> -->
  </div>
</footer>
