<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a style="cursor: pointer;" class="navbar-brand" routerLink="home">Derin Playground</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="nav navbar-nav ml-auto">
        <!-- <li class="nav-item" routerLinkActive="active">
          <a style="cursor: pointer;" class="nav-link" (click)="sayGoodByeForNow()" *ngIf="isAuthenticated">Logout</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a style="cursor: pointer;" class="nav-link" [routerLink]="['auth/updatePassword']" *ngIf="isAuthenticated">Update Password</a>
        </li> -->
        <li class="nav-item" routerLinkActive="active">
          <a style="cursor: pointer;" class="nav-link" [routerLink]="['auth/login']" *ngIf="!isAuthenticated">Login</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a style="cursor: pointer;" class="nav-link" [routerLink]="['auth/registerUser']" *ngIf="!isAuthenticated">Register</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a style="cursor: pointer;" class="nav-link" [routerLink]="['appsPage']" *ngIf="isAuthenticated">Apps</a>
        </li>

        <!-- <a style="cursor: pointer;" ngbDropdownItem class="dropdown-item" [routerLink]="['event/listEvents']">Event Planner</a>
            <a style="cursor: pointer;" ngbDropdownItem class="dropdown-item" [routerLink]="['diary/listEntries']">Diary</a>
            <a style="cursor: pointer;" ngbDropdownItem class="dropdown-item" [routerLink]="['budgetplanner']">Budget Planner</a> -->

        <!-- <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['diary/viewEntry']">View Entry</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" [routerLink]="['diary/createEntry']">Create Entry</a>
        </li> -->
        <li ngbDropdown class="nav-item dropdown" href="#" routerLinkActive="active" *ngIf="isAuthenticated">
          <a ngbDropdownToggle class="nav-link dropdown-toggle"  id="navbarDropdown"
              role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ authUserFromSetter.userId }}
          </a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a style="cursor: pointer;" ngbDropdownItem class="dropdown-item" [routerLink]="['event/listEvents']">View Profile</a>
            <a style="cursor: pointer;" ngbDropdownItem class="dropdown-item" (click)="sayGoodByeForNow()" >Logout</a>
          </div>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a style="cursor: pointer; position: left;" class="nav-link" [routerLink]="['about']" >About</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
