<div>
  <button type="button" class="btn button-left btn-outline-secondary" [routerLink]="['/event/location/listLocations']">Back To Locations List Page</button>
</div>
<div class="create-location-page">
  <div class="alert alert-danger" *ngIf="displayError">
    <p>{{ displayError }}</p>
  </div>
  <div *ngIf="formLoading" style="text-align: center;">
    <app-eventlocationloadingspinner></app-eventlocationloadingspinner>
  </div>
  <form [formGroup]="createLocationForm" (ngSubmit)="onSubmit()" *ngIf="!formLoading">
    <div class="form-group">
      <input  type="text"
              id="locationName"
              class="form-control"
              [ngClass]="{'is-invalid': locationName.errors && locationName.touched}"
              placeholder="Location Name"
              formControlName="locationName" />
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback" >
        <div *ngIf="locationName.hasError('required')">Location Name is required</div>
      </div>
    </div>
    <div class="form-group">
      <input  type="text"
              id="streetAddress"
              class="form-control"
              [ngClass]="{'is-invalid': streetAddress.errors && streetAddress.touched}"
              placeholder="Street Address"
              formControlName="streetAddress" />
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback" >
        <div *ngIf="streetAddress.hasError('required')">Street Address is required</div>
      </div>
    </div>
    <div class="form-group">
      <input  type="text"
              id="city"
              class="form-control"
              [ngClass]="{'is-invalid': city.errors && city.touched}"
              placeholder="City"
              formControlName="city" />
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback" >
        <div *ngIf="city.hasError('required')">City is required</div>
      </div>
    </div>
    <div class="form-group">
      <input  type="text"
              id="state"
              class="form-control"
              [ngClass]="{'is-invalid': state.errors && state.touched}"
              placeholder="State"
              formControlName="state" />
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback" >
        <div *ngIf="state.hasError('required')">State is required</div>
      </div>
    </div>
    <div class="form-group">
      <input  type="text"
              id="zipcode"
              class="form-control"
              [ngClass]="{'is-invalid': zipcode.errors && zipcode.touched}"
              placeholder="Zip Code"
              formControlName="zipcode" />
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback" >
        <div *ngIf="zipcode.hasError('required')">Zip Code is required</div>
      </div>
    </div>
    <div class="form-group">
      <input  type="text"
              id="country"
              class="form-control"
              [ngClass]="{'is-invalid': country.errors && country.touched}"
              placeholder="Country"
              formControlName="country" />
      <div class="valid-feedback">
        Looks good!
      </div>
      <div class="invalid-feedback" >
        <div *ngIf="country.hasError('required')">Country is required</div>
      </div>
    </div>
    <div>
      <button class="btn btn-success" type="submit" [disabled]="createLocationForm.invalid">Create Guest(s)</button>
    </div>
  </form>
</div>



