<div>
  <div class="row inline-card ">
    <div class="col-md-3 col-sm-6">
      <div class="card text-center" style="width: 18rem;">
        <a [routerLink]="['/event/listEvents']" style="cursor: pointer;">
          <div class="card-body">
            <h5 class="card-title">Event Planner</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="row inline-card ">
    <div class="col-md-3 col-sm-6">
      <div class="card text-center" style="width: 18rem;">
        <a [routerLink]="['/diary/listEntries']" style="cursor: pointer;">
          <div class="card-body">
            <h5 class="card-title">Diary App</h5>
            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
