<div style="padding-top: 50px;">
  <div class="card mb-3" style="max-width: 540px;">
    <a [routerLink]="['/event/listEvents']" style="cursor: pointer;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/images/event-calendar.png" width="100%" height="100%" alt="...">
        </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Event Planner</h5>
              <p class="card-text">
                Plan and share events with friends. This app is still in the works!
              </p>
            </div>
          </div>
      </div>
    </a>
  </div>
  <div class="card mb-3" style="max-width: 540px;">
    <a [routerLink]="['/diary/createDiaryPasscode']" style="cursor: pointer;">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="../../../assets/images/diary-icon.png" width="100%" height="100%" alt="...">
        </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">Diary App</h5>
              <p class="card-text">
                Document daily events using this app. Entries are encrypted with the passcode you provide when you first open the app
                before persistence.
              </p>
            </div>
          </div>
      </div>
    </a>
  </div>
</div>
