<div class="container">
  <div class="col-xs-12 col-md-6 col-offset-3">
    <form [formGroup]="passwordResetForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="currentPassword">Current Password</label>
        <input type="password" id="currentPassword" class="form-control" placeholder="Current Password" formControlName="currentPassword" />
      </div>
      <div class="form-group">
        <label for="newPassword">New Password</label>
        <input type="password" id="newPassword" class="form-control" placeholder=" New Password" formControlName="newPassword" />
      </div>
      <div class="form-group">
        <label for="verifyNewPassword">Retype New Password</label>
        <input type="password" id="verifyNewPassword" class="form-control" placeholder=" Retype New Password" formControlName="verifyNewPassword" autocomplete />
      </div>
      <div>
        <button class="btn btn-success" type="submit">Update Password</button>
      </div>
      <br>
      <div>
        <button class="btn btn-primary" (click)="clear()">Clear Form</button>
      </div>
    </form>
  </div>
</div>
