<div class="container justify-content-center">
  <div class="col-xs-12 col-md-6 col-offset-3">
      <div>
        <button type="button" class="btn button-left btn-outline-secondary" [routerLink]="['/diary/listEntries']">Back To List Entries</button>
      </div>
      <br><br><br><br>
      <form [formGroup]="diaryEntryForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <input  type="date"
                  id="entryDate"
                  [ngClass]="{'is-invalid': entryDate.errors && entryDate.touched}"
                  class="form-control"
                  placeholder="Select Date"
                  autocorrect="on"
                  formControlName="entryDate" />
            <div class="invalid-feedback" >
              Date Is needed for diary entry.
            </div>
        </div>
        <div class="form-group">
          <textarea
                  class="text-area"
                  formControlName="dairyEntry"
                  id="dairyEntry"
                  [ngClass]="{'is-invalid': dairyEntry.errors && dairyEntry.touched}"
                  placeholder="Diary Input"
                  ></textarea>
            <div class="invalid-feedback" >
              Entry must be longer than 3 characters
            </div>
        </div>
        <div>
          <button class="btn btn-success" type="submit">Save Entry</button>
        </div>
      </form>
  </div>
</div>
