<div class="container justify-content-center">
  <div class="col-xs-12 col-md-12 col-offset-3">
    <!-- <div *ngIf="formLoading" style="text-align: center;">
      <app-diaryloadingspinner></app-diaryloadingspinner>
    </div> -->
    <div>
      <button type="button" class="btn button-left btn-outline-secondary" [routerLink]="['/appsPage']">Back To Apps Page</button>
    </div>
    <!-- <form class="d-flex button-center" [formGroup]="searchEntryForm" (ngSubmit)="searchForEntry()">
      <input class="form-control me-2" type="search" id="searchText" formControlName="searchText" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form> -->
    <div>
      <button type="button" class="btn button-right btn-outline-primary" [routerLink]="['/diary/createEntry']">Create Diary Entry</button>
    </div>
    <br><br><br><br>
    <div>
      <ul class="dairyEntries">
        <li *ngFor="let entry of dairyEntries.dairyEntries"
              (click)="onSelect(entry)">
          <div class="card">
            <!-- <div class="col-md-3 col-sm-6"> -->
              <div class="text-center">
              <span class="badge">{{entry.diaryEntryDate | date}}</span><br> {{entry.diaryEntry}}
              </div>
            <!-- </div> -->
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>



<!-- <div class="calendar-month">
  <section class="calendar-month-header">
    <div
      id="selected-month"
      class="calendar-month-header-selected-month"
    >
      February 2020
    </div>

    <div class="calendar-month-header-selectors">
      <span id="previous-month-selector"><</span>
      <span id="present-month-selector">Today</span>
      <span id="next-month-selector">></span>
    </div>
  </section>

  <ol
    id="days-of-week"
    class="day-of-week"
  >
    <li>Mon</li>
    <li>Tue</li>
    <li>Wed</li>
    <li>Thu</li>
    <li>Fri</li>
    <li>Sat</li>
    <li>Sun</li>
  </ol>

  <ol
    id="calendar-days"
    class="days-grid"
  >
    <li class="calendar-day">
      <span>1</span>
    </li>
    <li class="calendar-day">
      <span>2</span>
    </li>
    <li class="calendar-day">
      <span>3</span>
    </li>
    <li class="calendar-day">
      <span>4</span>
    </li>
    <li class="calendar-day">
      <span>5</span>
    </li>
    <li class="calendar-day">
      <span>6</span>
    </li>
    <li class="calendar-day">
      <span>7</span>
    </li>
    <li class="calendar-day">
      <span>8</span>
    </li>
    <li class="calendar-day">
      <span>9</span>
    </li>
    <li class="calendar-day">
      <span>10</span>
    </li>
    <li class="calendar-day">
      <span>11</span>
    </li>
    <li class="calendar-day">
      <span>12</span>
    </li>
    <li class="calendar-day">
      <span>13</span>
    </li>
    <li class="calendar-day">
      <span>14</span>
    </li>
    <li class="calendar-day">
      <span>15</span>
    </li>
    <li class="calendar-day">
      <span>16</span>
    </li>
    <li class="calendar-day">
      <span>17</span>
    </li>
    <li class="calendar-day">
      <span>18</span>
    </li>
    <li class="calendar-day">
      <span>19</span>
    </li>
    <li class="calendar-day">
      <span>20</span>
    </li>
    <li class="calendar-day">
      <span>21</span>
    </li>
    <li class="calendar-day">
      <span>22</span>
    </li>
    <li class="calendar-day">
      <span>23</span>
    </li>
    <li class="calendar-day">
      <span>24</span>
    </li>
    <li class="calendar-day">
      <span>25</span>
    </li>
    <li class="calendar-day">
      <span>26</span>
    </li>
    <li class="calendar-day">
      <span>27</span>
    </li>
    <li class="calendar-day">
      <span>28</span>
    </li>
    <li class="calendar-day">
      <span>29</span>
    </li>
  </ol>
</div> -->
