<div class="container justify-content-center">
  <div class="col-xs-12 col-md-12 col-offset-3">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-diaryloadingspinner></app-diaryloadingspinner>
    </div>
    <div>
      <button type="button" class="btn button-left btn-outline-secondary" [routerLink]="['/appsPage']">Back To Apps Page</button>
    </div>
    <div>
      <button type="button" class="btn button-right btn-outline-primary" [routerLink]="['/diary/createEntry']">Create Diary Entry</button>
    </div>
    <br><br><br><br>
    <div>
      <ul class="dairyEntries">
        <div *ngIf="dairyEntries">
          <li *ngFor="let entry of dairyEntries.dairyEntries"
                (click)="onSelect(entry)">
            <div class="card">
                <div class="text-center">
                <span class="badge">{{entry.diaryEntryDate | date}}</span><br> {{entry.diaryEntry}}
                </div>
            </div>
          </li>
      </div>
      </ul>
    </div>
  </div>
</div>
