<div>
  <button type="button" class="btn button-left btn-outline-secondary" [routerLink]="['/event/guest/listGuests']">Back To Guests List Page</button>
</div>
<div class="create-guest-page">
  <div class="alert alert-danger" *ngIf="displayError">
    <p>{{ displayError }}</p>
  </div>
  <div *ngIf="formLoading" style="text-align: center;">
    <app-eventguestloadingspinner></app-eventguestloadingspinner>
  </div>
  <form [formGroup]="createGuestForm" (ngSubmit)="onSubmit()" *ngIf="!formLoading">
    <div formArrayName="createGuestRequests">
      <div *ngFor="let guest of guests.controls; let i = index" [formGroupName]="i" class="guest">
          <div class="mat-container">
          <mat-form-field class="form-group" appearance="fill">
            <input  matInput
                    type="text"
                    id="guestFirstName"
                    class="form-control"
                    [ngClass]="{'is-invalid': guests.controls[i].get('guestFirstName').errors
                    && guests.controls[i].get('guestFirstName').touched}"
                    placeholder="First Name"
                    formControlName="guestFirstName" />
            <div class="invalid-feedback" >
              <div *ngIf="guests.controls[i].get('guestFirstName').hasError('required')">First Name is required</div>
              <div *ngIf="guests.controls[i].get('guestFirstName').hasError('minlength')">First Name must be at least 2 characters long</div>
              <div *ngIf="guests.controls[i].get('guestFirstName').hasError('maxlength')">First Name cannot be longer than 50 characters</div>
            </div>
          </mat-form-field>
          <mat-form-field class="form-group" appearance="fill">
            <input  matInput
                    type="text"
                    id="guestLastName"
                    class="form-control"
                    [ngClass]="{'is-invalid': guests.controls[i].get('guestLastName').errors
                    && guests.controls[i].get('guestLastName').touched}"
                    placeholder="Last Name"
                    formControlName="guestLastName" />
            <div class="invalid-feedback" >
              <div *ngIf="guests.controls[i].get('guestLastName').hasError('required')">Last Name is required</div>
              <div *ngIf="guests.controls[i].get('guestLastName').hasError('minlength')">Last Name must be at least 2 characters long</div>
              <div *ngIf="guests.controls[i].get('guestLastName').hasError('maxlength')">Last Name cannot be longer than 50 characters</div>
            </div>
          </mat-form-field>
          <mat-form-field class="form-group" appearance="fill">
            <input  matInput
                    type="email"
                    id="guestEmailAddress"
                    class="form-control"
                    [ngClass]="{'is-invalid': guests.controls[i].get('guestEmailAddress').errors
                    && guests.controls[i].get('guestEmailAddress').touched}"
                    placeholder="Email Address"
                    formControlName="guestEmailAddress" />
            <div class="invalid-feedback" >
              <div *ngIf="guests.controls[i].get('guestEmailAddress').hasError('required')">Email Address is required</div>
              <div *ngIf="guests.controls[i].get('guestEmailAddress').hasError('email')">Email Address must contain a valid email-address</div>
            </div>
          </mat-form-field>
          <button type="button" class="btn btn-outline-danger" (click)="removeGuest(i)">Remove</button>
        </div>
      </div>
      <button type="button" class="btn btn-outline-primary" (click)="addGuest()">Add Another</button>
      <hr>
    <div>
      <button class="btn btn-success" type="submit" [disabled]="disableSubmitButton">Create Guest(s)</button>
    </div>
  </div>
  </form>
</div>


